/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Cabin', sans-serif;
    font-size: 1.15rem;
    line-height: 1.35;
}

.flex-centered{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-j-center{
    display: flex;
    justify-content: center;
}

.flex-j-between{
    display: flex;
    justify-content: space-between;
}

.flex-a-center{
    display: flex;
    align-items: center;
}


.container{
    max-width: 1050px;
    /* width: 65 */
    margin: 0 auto;
}

.jumbo-container{
    max-width: 750px;
    /* width: 50% */
    margin: 0 auto;
}

.dotted-test{
    border: 2px dashed black;
}

.columns{
    padding: 3rem 0;
}

.column{
    padding: 2rem 2.5rem;
    line-height: 1.2;
}

.column-big{
    /* background-color: #1e8ffe; */
    width: 60%;
}

.column-small{
    /* background-color: #febfca; */
    width: 40%;
}

.column-single{
    /* background-color: #228a22; */
    width: 100%;
    /* height: 700px; */
    text-align: center;
}

.column-70{
    /* background-color: #20b1a9 ; */
    width: 70%;
    /* height: 500px; */

    padding-left: 0;
    padding-right: 0;
}

.column-30{
    /* background-color: #ef7f7f; */
    /* height: 500px; */
    width: 30%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.column-quarters{
    width: calc(100% / 4);
}



.bg-white{
    background-color: white;
}

.bg-grey{
    background-color: #f5f5f5;
}

.button{
    background-color: white;
    display: inline-block;
    padding: 0.8rem 1.6rem;
    border-radius: 2rem;
    margin-right: 2rem;
}
.button-small{
    font-size: .9rem;
    padding: 0.35rem .9rem;
    margin: 0;
    line-height: 1.8rem;
}

.button-black{
    background-color: #23272a;
    color: white;
}

.button-light-blue{
    background-color: #8da0e0;
    color: white;
}


header{
    background-color: #3161e0;
    /* padding: 0 0 .25rem; */
    color: white;
    text-align: center;
}

h1{
    font-size: 3rem;
    margin-bottom: 2rem;
}

p{
    margin-bottom: 1.1rem;
}

a{
    text-decoration: none;
    color: black;
}


ul{
    list-style-type: none;
}



section.navigation{
    padding: .66rem 0 .33rem;
    /* background-color: #7ffed3; */
}


header section.navigation div.brand,
header section.navigation nav,
header section.navigation div.login{
    padding: .5rem;
}


section.navigation div.brand,
section.navigation div.login{
    width: 20%;
}

section.navigation div.brand img{
    height: 30px;
}

section.navigation  nav{
    width: 60%;
}

section.navigation  nav ul li{
    /* display: inline-block; */
    padding: 0 1.2rem;
    font-size: .9rem;
}


section.navigation div.login{
    justify-content: flex-end;
}


section#jumbo{
    /* height: 300px; */
    /* background-color: #00008a; */
    background-image: url(../img/jumbo.png);
    padding: 6rem 0;
    background-position: center;
    background-size: cover;
}

.column img{
    width: 100%;
}

div.jumbotron{
    height: 300px;
    padding: 0 3rem;
    /* background-color: #ed81ed; */
}

main section.bg-grey{
    padding: 4rem 0;
}

div.ondina{
    /* width: 100%; */
    height: 90px;
    background-image: url('../img/wave.svg');
    filter: opacity(.04);
}

div.ondina.inverted{
    transform: rotate(180deg);
}

p#adventure-banner{
    font-size: 1.5rem;
    font-weight: 900;
    margin: 0 auto 2rem;
    background-image: url(../img/stars.svg);
    width: 50%;
    padding-top: 2rem;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}

footer{
    background-color: #23272a;
    color: white;
}

footer h3,
footer h5{
    color: #7288d9;
    margin-bottom: 1.5rem;
}


footer h3{
    font-size: 2rem;
    font-weight: 900;
}

footer h5{
    font-size: 1rem;
    margin-bottom: .7rem;
}

footer a{
    color: white;
}

footer ul > li{
    font-size: .9rem;
    margin-bottom: .7rem;
}

div.footer-divider{
    background-color: #7288d9;
    height: 1px;
    width: 100%;
    margin: 2rem 0;
}

section.links{
    padding-top: 2rem;
}

footer section.navigation{
    padding-bottom: 6rem;
}


img.icon-flag{
    height: 1rem;
    width: auto;
}

div.icons{
    padding-top: 1.5rem;
}

div.icons > *{
    margin-right: 1rem;
}